@import '~_/styles/pallette';

.main {
	display: flex;
	flex-direction: column;
	width: 70vw;
	height: 70vh;
	max-width: 1200px;
	background-color: white;
	font-size: $normal;
	padding: 20px;
	overflow: auto;
}

.info {
	margin-bottom: 20px;
	&__item {
		color: $jet;
		font-size: $larger;
		margin-right: 10px;
		> span {
			margin-left: 10px;
			font-size: $small;
		}
	}
}

.header {
	font-size: $normal;
	margin: 0px 0px 10px;
}

.player_and_time {
	display: flex;
	align-items: center;
}

.player {
	margin-right: 30px;
}

.data_label {
	margin-bottom: 5px;
	font-size: $normal;
}

.disclaimer {
	font-size: $small;
	margin-top: 5px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px 20px 20px 0px;
}

.new_tag_form {
	display: flex;
	align-items: flex-start;
	align-content: center;
	.tag_type_radio {
		margin: 0px 15px 0px 0px;
		display:block;
	}

	> * {
		margin-right: 15px;
	}
}

.tag_button {
	background-color: $eucalyptus;
}

.label {
	display: block;
	margin-bottom: 10px;
	&:first-of-type {
		padding: 0px 10px 0px 0px;
	}
}

.input {
	max-width: 100%;
} 

.input_container {
	display: block;
	width: 12%;
	min-width: 90px;
	margin: 0px 20px 20px 0px;
}

.input_group {
	flex-wrap: wrap;
	flex-direction: row;
	display: flex;
	align-content: start;
}

.button {
	background-color: $eucalyptus;
	color: $jet;
	display: block;
	align-self: end;
	margin: auto 0px 0px auto;
}