@import '~_/styles/_pallette';

.main {
	padding: 10px;
	box-sizing: border-box;
	border-top: 2px solid $jet;
	background-color: $gainsboro;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	cursor: pointer;
	&__item{
		flex: 1;
		flex-shrink: 0;
		padding: 10px 0px;
		margin-right: 10px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-size: $normal;
		color: $jet;
		&:first-of-type {
			margin-left: 10px;
		}
	}
	&__add-icon{
		color: $pastel_green;
		font-size: $larger;
		margin: 0px 20px;
		cursor: pointer;
	}
}

.items {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.time {
	flex: none;
}