@import '~_/styles/_pallette';

.main {
	width: 90vw;
	height: 75vh;
	box-sizing: border-box;
	background-color: $gainsboro;
	display: flex;
	flex-direction: column;
	padding: 40px 80px;
}

.options {
	display: flex;
	margin: 40px 0px;
	justify-content: center;
}

.option {
	padding: 40px;
	text-align: center;
	flex: 1;
	&.serial {
		border-right: 2px solid $jet;
	}
}

.button {
	margin: 20px 20px 20px 0px;
	background-color: $eucalyptus;
	color: $jet;
	padding: 10px 50px;
	font-size: $larger;
	border: none;
	border-radius: 50px;
	> span {
		margin-left: 20px;
	}
}

.tag_container {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 0px;
}

.tags_list {
	display: flex;
	flex-direction: row;
}

.include_form {
	display: flex;
	> * {
		margin-right: 10px;
	}
}

.add-button {
	margin: 0px 10px;
	background-color: $jet;
	color: white;
}