@import '~_/styles/_pallette';

.tag-list {
	display:flex;
	margin: 10px 0px;
}

.include {
	margin-bottom: 10px;
}

.section-title {
	color: $jet;
	font-size: $normal;
}

.exclusive_toggle {
	display: inline;
	margin-left: 20px;
	> label.toggle_label {
		display: inline;
		> input {
			margin-right: 10px;
		}
	}
}

.include_form {
	display: flex;
	> * {
		margin-right: 10px;
	}
}

.add-button {
	margin: 0px 10px;
	background-color: $jet;
	color: white;
}

.submit-button {
	margin: 15px 0px;
	background-color: $eucalyptus;
	color: $jet;
	font-size: $normal;
}