$jet: #382F34;
$granite_grey: #607466;
$gainsboro: #D2EBDC;
$pastel_green: #7BD389;
$eucalyptus: #38E4AE;

$extra_small: 10px;
$small: 14px;
$normal: 18px;
$larger: 26px;
$large: 50px;
$extra_large: 100px;
