@import '~_/styles/pallette';

.main {
	position: relative;
	background-color: black;
	border-radius: 50%;
	overflow: hidden;
	height: 50px;
	width: 50px;
	cursor: pointer;
	&__image {
		height: 100%;
		width: 100%;
		opacity: .5;
	}
	&__icon {
		position: absolute;
		font-size: $larger;
		color: $pastel_green;
		top: 12px;
		left:14px;
	}
}