@import '~_/styles/_pallette';

.main {
	background-color: $jet;
	&__header{
		padding: 60px 30px 0px 1em;
		min-width:150px;
		* {
			color: $gainsboro;
		}
		&--top {
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
		}
		&--logo {
			font-size: $large;
			font-weight: bold;
		}
		&--photo {
			height: 50px;
			width: 50px;
			border-radius: 50%;
		}
		&--name {
			font-size: $small;
			margin-top: 5px;
		}
	}
	li > * {
		&:hover, &:focus {
			background-color: $granite_grey;
		}
		&.current {
			background-color: $gainsboro;
			color: $jet;
		}
		color: $eucalyptus;
		cursor: pointer;
	}
}

.mobile_toggle {
	display: none;
}

@media (max-width: 800px) {
	.main {
		&__header {
			display: none;
		}
		li > * {
			border-top: 1px solid $pastel_green;
			padding: 10px 20px;
			font-size: $larger;
		}
	}

	.menu {
		z-index: 200;
		position: fixed;
		width: 100vw;
		height: calc(100vh - 50px);
		background-color: $jet;
		top: 50px;
		left: -100vw;
		transition: 200ms ease;
		&.open {
			left: 0px;
		}
	}

	.mobile_toggle {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 200;
		width: 100vw;
		height: 50px;
		display: block;
		color: white;
		background-color: $jet;
		font-size: 35px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.toggle_icon, .mobile_logo {
		margin: 0px 20px;
		display: block;
	}
}