@import '~_/styles/_pallette';

.success_header {
	font-size: $normal;
}

.button {
	margin: 20px 20px 20px 0px;
	background-color: $eucalyptus;
	color: $jet;
	padding: 10px 50px;
	font-size: $larger;
	border: none;
	border-radius: 50px;
	> span {
		margin-left: 20px;
	}
}

.clear {
	background-color: $gainsboro;
	border: 1px solid $jet;
}