@import '~_/styles/pallette';

.main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	margin: 0px 20px 20px 0px;
	background-color: $granite_grey;
	min-width: 90px;
	cursor: pointer;

	> .name{
		margin: 0px;
		padding: 5px;
		> span {
			opacity: 0;
		}
		&:hover {
			> span {
				opacity: 1;
			}
		}
	}

	.input_container {
		background-color: white;
		border: 1px solid $granite_grey;
		> input.value {
			border-radius: 0px;
			padding: 5px;
			box-shadow: none;
			width: 90px;
			border: none;
			padding: 2px 5px;
		}
	}
}