@import '~_/styles/_pallette';

.main {
	background-color: $gainsboro;
	display: flex;
	height: 100vh;
}

.scene {
	max-height: 100vh;
	overflow-x: auto;
	flex:1;
	box-sizing: border-box;
	padding: 30px 20px 0px;
}

@media (max-width: 800px) {
	.main {
		display: block;
		height: auto;
	}

	.scene{
		padding: 5px 10px;
		flex: none;
		max-height: none;
		min-height: calc(100vh - 50px);
		margin-top: 50px;
	}
}